<% layout('layouts/boilerplate') %>
<h1>Edit a Shutter</h1>
<form action="/shutter/<%= shutter._id %>?_method=PUT" method="POST">
  <div>
    <label for="title">Title</label>
    <input type="text" id="title" name="shutter[title]" value="<%= shutter.title %>">
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" id="location" name="shutter[location]" value="<%= shutter.location %>">
  </div>
  <button>Submit</button>
</form>
<div>
  <a href="/shutter/<%= shutter._id %>">Back</a>
</div>

