<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Shutter</title>
</head>
<body>
  <h1>Edit a Shutter</h1>
  <form action="/shutter/<%= shutter._id %>?_method=PUT" method="POST">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="shutter[title]" value="<%= shutter.title %>">
    </div>
    <div>
      <label for="location">Location</label>
      <input type="text" id="location" name="shutter[location]" value="<%= shutter.location %>">
    </div>
    <button>Submit</button>
  </form>
  <div>
    <a href="/shutter/<%= shutter._id %>">Back</a>
  </div>
</body>
</html>
