<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Shutter</title>
</head>
<body>
  <form action="/shutter" method="POST">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="shutter[title]">
    </div>
    <div>
      <label for="location">Location</label>
      <input type="text" id="location" name="shutter[location]">
    </div>
    <button>Submit</button>
  </form>
  <div>
    <a href="/shutter">Back</a>
  </div>
</body>
</html>
